.container {
  margin: 40px auto;
  width: 1000px;
  position: relative;
}
.btn {
  background-color: #e17a5f;
  border-radius: 5px;
  width: 180px;
  outline: 0;
  border: 0;
  padding: 10px 15px;
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 600px;
  left: 250px;
}
.btn:hover {
 background-color: #1bb761;
}

.clock {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 30px;

}
.clock-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 40px;
}
.text {
  width: 100px;
  color: #4e84a3;
}
.distance {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 400px;
}
.text-distance {
  color: #4e84a3;
}

.distance-number {
  font-size: 24px;
  color: #4e84a3;
  margin-left: 10px;
}
